<ion-header>
  <ion-toolbar>
    <ion-title>
      Shop Detail

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-row no-padding>
        <ion-col size="6" text-center offset="3">
          <img [src]="image" alt="this is the image"/>
        </ion-col>
      </ion-row>
      <ion-row no-padding>
        <ion-col size="6" offset="3">
          <ion-button fill="outline" expand="block" size="small" (click)="selectImage()">Change Picture</ion-button>
        </ion-col>
      </ion-row>

      <form [formGroup]="shopForm" >
          <ion-item>
            <ion-label position="floating" color="primary">Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" color="primary">Address</ion-label>
            <ion-input type="text" (ionInput)="updateSearchResults()" formControlName="address"></ion-input>

          </ion-item>
          <ion-list [hidden]="autocompleteItems.length == 0">
              <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
                {{ item.description }}
              </ion-item>
            </ion-list>
            

          <ion-button color="primary" expand="block" type="submit" [disabled]="!shopForm.valid" (click)="saveShop()">Save</ion-button>

        </form>

</ion-content>
