<ion-header>
  <ion-toolbar>
    <ion-title>
      LogOut
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>

        <ion-card-header>
          Confirmation
        </ion-card-header>
      
        <ion-card-content text-center>
          Do you want to logout?
          <div  text-center margin-top>
              <ion-button   color="danger" (click)="logout()">
                  LogOut
                </ion-button>
              </div>
          
        </ion-card-content>
      
      </ion-card>
</ion-content>
